.container{
    width: 40%;
    color: rgb(182, 182, 182);
    background: #3e3e3e;
    border-radius: 5px;
    padding: 30px;
}
.title{
    text-align: center;
    margin-bottom: 20px;
}
.password-wrapper{
    width: 100%;
    height: 50px;
}
.password-area{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}
.password-area .password{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    position: relative;
}
.password-area .password input{
    width: 100%;
    height: 100%;
    font-size: 20px;
    background: #fec5fe;
    color: black;
    line-height: 50px;
    border-radius: 5px;
    padding: 0 60px 0 20px;
    border: none;
    outline: none;
}
.password-area .password .copyIcon{
    position: absolute;
    right: 0;
    top: 50%;
    width: 50px;
    height: 100%;
    padding: 12px;
    transform: translate(0, -50%);
    cursor: pointer;
}
.setting{
    margin:20px 0;
}
.customize{
    margin: 10px 0;
    display: flex;
    justify-content: flex-start;
}
.customize .checkboxes{
    display: flex;
}
.left, .right{
    width:fit-content;
}
.customize .right{
    margin-left: 30px;
}
.customize .checkboxes .checkbox-field{
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.customize .checkboxes .checkbox-field input{
    margin-right: 10px;
    width: 20px;
    height: 20px;
}
.customize .checkboxes .checkbox-field input:checked{
    accent-color: #fec5fe;
}
.customize .checkboxes .checkbox-field label{
    line-height: 20px;
}
.slider{
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 50px;
}
.slider .rangeVal{
    width: 80px;
    height: 100%;
    font-size: 22px;
    border-radius: 5px;
    background-color: #fec5fe;
    color: #3e3e3e;
    line-height: 50px;
    text-align: center;
}
.slider .range{
    height: 100%;
    width:calc(100% - 80px);
    margin-left: 20px;
    border-radius: 5px;
    border: none;
    outline: none;
    background: #fec5fe;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider .range input{
    width:100%;
}
.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}
.buttons button{
    margin:15px;
    padding: 0 25px;
    height: 50px;
    border-radius: 50px;
    font-size: 18px;
    background-color: #fec5fe;
    color: #3e3e3e;
    border: none;
    outline: none;
    cursor: pointer;
}


@media only screen and (max-width: 600px){
    .customize .checkboxes{
        display: block;
    }
    .customize .checkboxes .right{
        margin-left: 0;
    }
    .password-area .password input{
        font-size: 17px;
    }
    .title{
        font-size: 20px;
    }
    .buttons{
        display: block;
    }
    .buttons button{
        width: 100%;
        margin-left: 0;
    }
    .buttons button:last-child{
        margin-top: 20px;
    }
    .container{
        width: 90%;
    }
}