*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.searchBar{
    padding: 5% 10%;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.searchInput input{
    /* outline: none; */
    border: 1px solid grey;
    border-radius: 5px;
    padding: 10px;
    width: 90%;
}
.ratingInput input{
    border: 1px solid grey;
    border-radius: 5px;
    padding: 10px;
    width: 40%;
}
.allCards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.oneCard{
    box-shadow: 1px 1px 10px grey;
    width: 30rem;
    padding: 1rem;
    border-radius: 1rem; 
    margin: 1%;
}