.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0;
    background-color: #111827;
    color: rgb(255, 255, 255);
}

.nav-links {
    display: flex;
    gap: 2rem;
    cursor: pointer;
}
.nav-links>div:hover{
    color: rgb(51, 51, 250);
    text-shadow:1px 1px 1px rgba(51, 51, 250, 0.218);
}
.vertical-centre{
    display: flex;
    align-items: center;
}